* {
  margin: 10px;
}

p {
  text-align: right;
  color: green;
  font-style: italic;
  font-size: 12px ;
  line-height: 24px;
}


h1 {
  padding: 10px;
  background-color: brown;
  color: #0000ff;
  border: 3px solid teal;
}

.accent{
  border: 1px solid#000;
  padding: 5px;
  color: hsla(0, 100%, 50%, 0.3);
}

.bg{
  background-color: #ddd;
}

#container{
  width: 500px;
  margin: 10px auto ;
  padding: 10px;
  border: 1px solid#000;
}

div p{

}

div > p{

}

body{
  font-family: "맑은 고딕", 굴림;
  
  /* background: url(./img/img04.png); */

}

.color1{
  color: rgb(255,255,255);
}

.color2{
  color: rgba(255,255,255,0.5);
}

a{
  text-decoration: none;
  color: #000;
}

